.content {
  --ion-safe-area-bottom: 0;
}


span {
  opacity: 0.8;
}

ion-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Adjust this value as needed */
}

.message-container {
  max-height: calc(100vh - 50px); /* Adjust based on footer height */
  overflow-y: auto;
  background-color: #a8464e; /* Background color for received messages */

}

.message {
  max-width: 300px;
}

.message-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.message-wrapper {
  display: flex;
  justify-content: flex-end;
}

.message-wrapper.sent {
  justify-content: flex-end;
}

.message-wrapper.received {
  justify-content: flex-start;
}

.message-content {
  min-width: 200px;
  min-height: 50px;
  padding: 0px 5px 5px 5px;
}

.message.sent .message-content {
  background-color: #c5000f; /* Background color for sent messages */
  border-radius: 1%;
}

.message.received .message-content {
  background-color: #b31b28; /* Background color for received messages */
  border-radius: 1%;

}
